@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  overflow: hidden;
  background-color: #000;
  color: rgb(var(--foreground-rgb));
  user-select: none;
  -webkit-user-select: none;
  contain: layout style;
}

/* Canvas 基础样式 */
canvas {
  display: block;
  contain: strict;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}
